<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>YURTDIŞI BİLGİ YÖNETİM RANDEVU SİSTEMİ</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="https://ytybs.ailevecalisma.gov.tr/assets/css/thymeleaf.css" />

</head>
<body class="center">
<div>
	<table>

		<tr>
			<td class="ortala" rowspan="2"><a href="https://www.csgb.gov.tr/"><img alt="" src="https://ytybs.ailevecalisma.gov.tr/assets/img/csgblogo.png"></a></td>
			<td>YURT DIŞI TEŞKİLATI BİLGİ YÖNETİM SİSTEMİ (YTBYS)</td>
		</tr>

		<tr>
			<td> </td>
		</tr>
	</table>

	<table>

		<tr>
			<td>Sayın İlgili, <br/><br/>
				Çalışma ve Sosyal Güvenlik Bakanlığı Yurt dışı teşkilatlarına SGK İl Müdürlüğü vasıtasıyla yapmış olduğunuz başvuru işlemi sonuçlandırılmıştır. <br/>
				Adınıza oluşturulan belge elektronik ortamda SGK’ ya iletilmiştir. Ayrıca ilgili belgeye e-devlet
				( https://www.turkiye.gov.tr/csgb-yurtdisi-borclanma-belge-sorgulama ) üzerinden ulaşabilirsiniz.
			</td>


		</tr>


	</table>
	</br></br></br>

	<table>
		<tr>
			<td><b>Önemli Hatırlatma: </b> </td>
		</tr>
		</br>
		<tr>
			<td><b>Müşavirliğimizce/Ataşeliğimizce gerçekleştirilen işlemler, 3201 sayılı Kanun kapsamında yapılan Yurtdışı Hizmet Borçlanma başvurusunun kabulü manasında değildir.  <br/><br/>
		Yurtdışı Hizmet Borçlanma başvurusu yapmak isteyen sigortalı/hak sahibinin ilgili Sosyal Güvenlik Kurumu İl Müdürlüğü veya Sosyal Güvenlik Merkezine başvuru yapması gerekmektedir. Yurtdışı Hizmet Borçlanması (https://www.turkiye.gov.tr/sosyal-guvenlik-elektronik-ortamda-duzenlenen-yurt-disi-hizmetikamet-belgeleriyle-yurt-disi-borclanma-talebinde-bulunulmasi) linki üzerinden de yapılabilmektedir.  <br/><br/>
		Yurtdışı Hizmet Borçlanma başvurusunun usulüne göre zamanında yapılmamasından dolayı oluşabilecek zararlardan Müşavirliğimiz/Ataşeliğimiz sorumlu değildir.
			</b> </td>
		</tr>


		</tr>

		<tr>
			<td><b> Başvuru sahibi T.C. Kimlik Numarası : 	<span th:text="${vatandasTcKNo}"></span></b>

			</td>

		</tr>
	</table>

	</br></br></br>
	<table>
		<tr>
			<td>İyi günler dileriz.</td>
		</tr>
		<tr>
			<td>Bu e-posta kişiye özel bilgi içermektedir. </td>
		</tr>
		<tr>
			<td>Sizden kişisel bilgilerinizi veya YTBYS parolanızı telefon, e-posta v.b. yollar ile isteyen kişilere karşı dikkatli olunuz, bilgilerinizi vermeyiniz. </td>
		</tr>

	</table>
</div>
</body>
</html>